{% extends "store/base.html" %}

{% block header %}

<div class="header">
    <a href="javascript:location.reload()" class="reload_cat"><img src='/media/store/reload_cat.png' alt="reload_cat"> </a>

    <a class="home" href="./main.html"> 홈 </a>

    <div class="search_container">
        <form action="/search" method="GET" >
            <input class="search_bar" name="search" type="text">
        </form>
    </div>


    <!-- href="{ notice } -->
    <a class="notice" > <img src='/media/store/ring_icon.png' alt="ring_icon"> </a>

    <div class="dropdown">
        <button class="dropbtn"><img src="/media/store/extend_icon.png" alt="extend_icon">
        </button>
        <div class="dropdown-content">
            <!-- href="{ url 'my_page' }" -->
            <a> 마이페이지 </a>
            <!-- href="{ url 'reserve_list' %}" -->
            <a>예약리스트보기</a>
            <p>누구누구님 입장중~</p>
            <!-- href="{ url 'logout' %}" -->
            <a> 로그아웃</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    document.getElementById("search").value
</script>


{% endblock %}