{% extends "store/header.html" %}

{% block body %}
<div class="reserve_list">
    <div class="list1">
        <div class="hospital">
            <a class="hospital-img" href="/hospital"><img src="../media/store/hospital.png"> </a>
        </div>
        <div class="restaurant">
            <a class="restaurant-img" href="/restaurant"><img src="../media/store/restaurant.png"> </a>
        </div>
    </div>
    <div class="list2">
        <div class="hotel">
            <a class="hotel-img" href="/hotel"><img src="../media/store/hotel.png"></a>
        </div>
        <div class="cinema">
            <a class="cinema-img" href="/cinema"><img src="../media/store/cinema.png"></a>
        </div>
    </div>
</div>
{% endblock %}